{% extends "base.html" %}

{% block content %}
    <article hx-boost="true">
        <article>
            {{ mailbox.name }}

            <a href="{% url 'create-topic' mailbox.id %}"><p>+ create topic</p></a>
        </article>
        <article>
            <h2> Topics</h2>
            {% for topic in topics %}
                <article>
                    <a href="{% url 'topic-detail' topic.id %}">{{ topic.name }}</a>
                </article>
            {% endfor %}

        </article>
    </article>
{% endblock content %}